<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
</head>
<body>
<p>Category: {{ article.category }}</p>
<p>Written by: {{ article.author }}</p>
<p>Posted at: {{ article.created_at }}</p>
<br>
{{ article.content }}
<br><br><br>
<a href="http://127.0.0.1:8080/blog/articles">Back to articles</a>
</body>
</html>